import(stats)
export(has, hasonly,hasany,hasall,
       present, value, each, wide, change,
       mrglm,  long_expand, mrloglin)

S3method(anova,mrloglin)
S3method(anova, mrglm)
S3method(print, seqanova.mrglm)

